{{ define "title"}} {{ .Title }} {{ end }} 

{{ define "style"}}
<link rel="stylesheet" href="/css/blog-post.css"> 
<link rel="stylesheet" href="/css/code-highlighting/dark.css">
<link rel="stylesheet" href="/css/custom.css"> 
{{ end }} 

{{ define "header"}} {{ partial "menu" .}} {{ end }} 

{{ define "main"}}

<div class="container" itemscope itemtype="http://schema.org/BlogPosting">
     {{ template "_internal/schema.html" . }}
    <section class="hero is-primary is-medium">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-2" itemprop="headline">
                    {{.Title}}
                </h1>
                {{ if .Description }}
                <blockquote itemprop="description">{{ .Description }}</blockquote>
                {{ end }}
            </div>
        </div>
    </section>
    <section class="section blog">
        <div class="container">
            <p>{{ partial "post/meta" . }}</p>
            <div class="columns is-mobile">
                <div class="column">

                    <div class="content blog-post section" itemprop="articleBody">

                        {{ partial "toc" .}}
                        <hr>
                        {{.Content}}
                    </div>
                    <div class="title is-4">
                        {{ partial "post/byauthor" . }}
                        {{ partial "post/related-content" . }}
                    </div>
          
                    {{ if .Site.DisqusShortname }}
                    <article>

                        {{ partial "disqus.html" . }}
                    </article>
                    {{ end }}
            
                </div>
            </div>
        
        </div>
    </section>
</div>

{{ end }} 

{{ define "footer"}} {{ partial "footer.html" .}} {{ end }}