body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.is-dark {
  background-color: #F62459;
  background-image: linear-gradient(rgba(25, 181, 254, 0.6),rgba(246, 36, 89, 0.6)),linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1422479278902-8cef24992df0?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=');
}
.nav {
  padding: 60px 0;
}
.hero.is-dark .nav-item a:not(.button), .hero.is-dark a.nav-item {
    color: #fff;
    padding: 10px 10px;
}
.nav-item {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.nav-item .button{
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  height: 45px;
}
.promo-img {
  border-radius: 10px;
  border: 10px solid #fff;
}