<nav class="nav has-shadow">
<div class="nav-left">
    <a class="nav-item" href="{{.Site.BaseURL | relURL}}">
        <img src="/img/bulma.png" alt="Bulma logo">
    </a>
</div>

<div class="nav-center">
    {{ if .Site.Params.github}}

    <a class="nav-item" target="blank" href="https://github.com/{{.Site.Params.github}}">
        <span class="icon">
            <i class="fa fa-github"></i>
          </span>
    </a>
    {{end}}
    {{ if .Site.Params.twitter}}

    <a class="nav-item" target="blank" href="https://twitter.com/{{.Site.Params.twitter}}">
        <span class="icon">
            <i class="fa fa-twitter"></i>
          </span>
    </a>
    {{end}}
</div>

<!-- This "nav-toggle" hamburger menu is only visible on mobile -->
<!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
<span class="nav-toggle">
        <span></span>
<span></span>
<span></span>
</span>

<!-- This "nav-menu" is hidden on mobile -->
<!-- Add the modifier "is-active" to display it on mobile -->
<div class="nav-right nav-menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a itemprop="url" class="nav-item is-tab {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{end}}" href="{{.URL}}"><span itemprop="name">{{ .Name }}</span></a>
        {{ end }}
</div>
</nav>